<div *ngIf="loading" class="body-load">
    <mat-spinner ></mat-spinner>
</div>

<div class ="body-login" *ngIf="!loading">
    <div class="container-login">
        <div class="container-panel">
            <form [formGroup]="formLogin" (ngSubmit)="login_account()">
                <h1>Welcome</h1>
                <h2><span class="login-span">Login</span> your account</h2>

                <div>
                    <mat-form-field style ="display: block;" class="form-style">
                        <mat-label>email</mat-label>
                        <input matInput 
                        autocomplete="off" 
                        placeholder="your email" 
                        formControlName="user_name" 
                        >
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="form-style"> 
                        <mat-label>enter your password</mat-label>
                        <input 
                        matInput 
                        [type]="hide ? 'password' : 'text'" 
                        autocomplete="off"
                        formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="button-container">
                    <button 
                    type="submit" 
                    class="button-class" 
                    mat-button
                    [disabled]="formLogin.invalid"
                    >Login</button>
                </div>
            </form>
        </div>
    </div>
</div>