body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 1.8rem;
}

span{
    background: linear-gradient(45deg, #08dbe2, #f047cb, #50f1c9);
    color: transparent;
    background-clip: text;
    background-size: 300%;
    -webkit-background-clip: text;
}


.div-main{   
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.div-section{
    width: 500px;
    height: 500px;
    background: linear-gradient(135deg, #25ecf35d, #7711ec96, #9612ca79);
    border: 1px solid #eddff163;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-class{
    width: 420px;
    font-size: larger;
}