@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

body{
    background-image: linear-gradient(to bottom right, #18131b, rgb(37, 5, 44));
    color: #be8af0;
    text-align: center;
    background-size: 100vw;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes bodycolor{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header{
    margin: 3vh 0 0 0;
    font-size: 130%;
    color: white;
}

main{
    min-height: 70vh;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.num{ 
    align-items: center;
    justify-content: center;
    display: flex;
    color:rgb(175, 70, 245);
    background-color: #2e2135;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    font-size: 2rem;
}

p{
    font-size: 140%;
}

input{
    width: 100%;
    max-width: 400px;
    border-style: none;
    border-radius: 5px;
    height: 3.5vh;
    font-size: 70%;
    margin: 10px;
}

.flex-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 5vh;
}

#form{
    margin-left: 12%;
    width: 50vw;
}


.info{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#highscore, #score{
    margin-left: 6%;
}


#entrada{
    width: 8vw;
    height: 4.5vh;
    background: #2e2135;
    border-style: solid;
    border-width: 1px;
    color:#be8af0;
    border-color: #be8af0;
    margin: 10px;
}

#guesssubmit, #reset{
    background: #950fe2;
    border-style: none;
    margin: 10px 0 0;
    color: #ffffff;
    height: 4.5vh;
}

#reset{
    width: 10vw;
}

#guesssubmit{
    width: 7vw;
}


#message{
    font-weight: bolder;
    font-size: 150%;
    background-image: linear-gradient(45deg, #35deeb, #8919e6, #a549f0);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    color:transparent;
    animation: color 5s ease-in-out infinite;
}


.prevMessage{
    margin-top: 10px;
    margin-bottom: 20px;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.underline{
    margin: 2%;
    width: 95%;
    height: 1px;
    color: #39243f;
    border: 1px solid #39243f ;
}

.prev{
    position: absolute;
}

#miFooter{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(45deg, #11c5c500, #0fd4f741, #0bc5e6ce);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    filter: blur(20px);
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

