<link href="home.component.css" rel="stylesheet">

<body>
    <div class="div-main">
        <div class="div-section">
            <div class="text-class">
                <h1 style="font-family: 'Poppins'"><span>Bienvenido</span> a mi primer proyecto de angular</h1>
                <p>Contiene un formulario reactivo con un login </p>
                <p>Luego se puede acceder a una tabla con una lista de empleados, los cuales pueden removerse, crearse o editarse.</p>
            </div>
        </div>
    </div>
</body>