<div class="body-dialog">
    <div>    
        <h1>Create employee</h1>

        <div class="input-box">
            <mat-form-field>
                <mat-label>Enter first name</mat-label>
                <input formControlName="FirstName" placeholder="First Name" required>
            </mat-form-field>
        </div>

        <div class="input-box">
            <mat-form-field>
                <mat-label>Enter last name</mat-label>
                <input formControlName="LastName" placeholder="Last Name" required>
            </mat-form-field>
        </div>

        <div class="input-box">
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="City" placeholder="City" required>
            </mat-form-field>
        </div>

        <div class="input-box">
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput formControlName="Country" placeholder="Country" required>
            </mat-form-field>
        </div>

        <div class="button-box">
            <div mat-dialog-actions class="button-box">
                <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
            </div>

            <div mat-dialog-actions class="button-box">
                <button mat-button (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
